<!DOCTYPE html>

<%- include('../partials/head'); %>
</%- include('../partials/head'); %>

<body class="container">

    <%- include('../partials/header', {pagina: 'Sobre' }); %>
    </%- include('../partials/header'); %>

    <main>
        <div class="jumbotron">
            <h1>Sobre mim</h1>
            <p>Sou Henrique Soto</p>
        </div>
    </main>

    <%- include('../partials/footer'); %>
    </%- include('../partials/footer'); %>

</body>