* {margin: 0%;}
body {
    min-height: 100vh;
    display: flex;
}

footer{
    margin-top: auto;
    background-color: gray;
    color: white;
    height: 8rem;
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: center;
}